<div class="logout">
    <a routerLink="/login">
        <button type="button" class="btn btn-danger">Log Out</button>
    </a>
</div>

<h1>
    Modify Biller Information
</h1>
<br>
<br>

<div>


    <table cellpadding="18px" class="center">


        <tr>
            <td><label for="exampleInputEmail1"><b>Biller Name</b></label></td>
            <td><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter Name"></td>
        </tr>

        <tr>
            <td><label for="exampleInputPassword1"><b>Address</b></label></td>
            <td>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Address">
            </td>
        </tr>

        <tr>
            <td><label for="exampleInputPassword1"><b>City</b></label></td>
            <td>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter City">
            </td>
        </tr>

        <tr>
            <td><label for="exampleInputPassword1"><b>PIN Code</b></label></td>
            <td>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter PIN Code">
            </td>
        </tr>

        <tr>
            <td><label for=""><b>Categorey</b></label></td>
            <td>
                <select class="form-select" aria-label="Default select example" name="account" ngModel>
                    <option *ngFor="let cat of categorey">{{cat}}</option>
                </select>
            </td>
        </tr>

        <tr>
            <td><label for=""><b>Status</b></label></td>
            <td>
                <input type="radio" id="male" name="gender" value="male">&nbsp;
                <label for="male">Male</label> &nbsp;
                <input type="radio" id="female" name="gender" value="female">&nbsp;
                <label for="female">Female</label><br>
            </td>
        </tr>
    </table>




    <br>
    <div class="center1">
        <a routerLink="/manage">
            <button class="btn btn-primary" style="margin-right: 35px;">Update</button>
        </a>

        <a routerLink="/manage">
            <button class="btn btn-primary" style="margin-right: 35px;">Back  </button>
        </a>
    </div>