<div class="logout">
    <a routerLink="/login">
        <button type="button" class="btn btn-danger">Log Out</button>
    </a>
</div>

<h1>
    Modify Biller Information
</h1>
<br>
<br>

<form #modifyForm="ngForm">
    <div>
        <table cellpadding="18px" class="center">
    
    
            <tr>
                <td><label for="exampleInputEmail1"><b>Biller Name</b></label></td>
    
                <td><input type="text" class="form-control" name="name" required #name="ngModel" required
                        class="form-control" [class.is-invalid]="name.invalid && name.touched"
                        [(ngModel)]="updateBiller.name" placeholder="Enter Name">
                    <small class="text-danger" [class.d-none]="name.valid || name.untouched">
                        Please enter the Biller name
                    </small>
                </td>
    
            </tr>
    
            <tr>
                <td><label for="exampleInputPassword1"><b>Address</b></label></td>
                <td>
                    <textarea class="form-control" class="form-control" name="address" required #address="ngModel"
                        required class="form-control" [class.is-invalid]="address.invalid && address.touched"
                        [(ngModel)]="updateBiller.address" placeholder="Enter Address" cols="30" rows="4"></textarea>
                    <small class="text-danger" [class.d-none]="address.valid || address.untouched">
                        Please enter the Biller Address
                    </small>
    
                </td>
            </tr>
    
            <tr>
                <td><label for="exampleInputPassword1"><b>City</b></label></td>
                <td>
                    <input type="text" class="form-control" name="city" required #city="ngModel" required
                        class="form-control" [class.is-invalid]="city.invalid && city.touched"
                        [(ngModel)]="updateBiller.city" placeholder="Enter City">
                    <small class="text-danger" [class.d-none]="city.valid || city.untouched">
                        Please enter the City
                    </small>
                </td>
            </tr>
    
            <tr>
                <td><label><b>PIN Code</b></label></td>
                <td>
                    <input type="text" class="form-control" type="text" class="form-control" name="pin" required
                        pattern="[0-9]{1,6}" #pin="ngModel" required class="form-control"
                        [class.is-invalid]="pin.invalid && pin.touched" [(ngModel)]="updateBiller.pin"
                        placeholder="Enter pin code">
                    <div *ngIf="pin.errors && (pin.valid || pin.touched)">
                        <small class="text-danger" *ngIf="pin.errors.required">Please enter the pin code</small>
                        <small class="text-danger" *ngIf="pin.errors.pattern">your pin code is invalid</small>
                    </div>
                </td>
            </tr>
    
            <tr>
                <td><label for=""><b>Categorey</b></label></td>
                <td>
                    <select class="form-select" #cat="ngModel" required name="cat" required [(ngModel)]="updateBiller.cat"
                        [class.is-invalid]="cat.invalid && cat.touched" [(ngModel)]="updateBiller.cat">
                        <option value="" selected>select the categorey</option>
                        <option *ngFor="let cat of categorey">{{cat}}</option>
                    </select>
                    <div *ngIf="cat.errors && (cat.valid || cat.touched)">
                        <small class="text-danger" *ngIf="cat.errors.required">Please select the categorey</small>
                    </div>
                </td>
            </tr>
    
            <tr>
                <td><label for=""><b>Status</b></label></td>
                <td>
                    <input type="radio" value="active" #status="ngModel" required name="status" class="form-check-input"
                     [(ngModel)]="updateBiller.status">&nbsp;
                    <label for="">Active</label> &nbsp;
                    <input type="radio" value="inactive" #status="ngModel" required name="status" class="form-check-input"
                     [(ngModel)]="updateBiller.status">&nbsp;
                    <label for="">InActive</label><br>
                    <small class="text-danger" [class.d-none]="status.touched">Please select the status</small>

                </td>
            </tr>
        </table>
    
    
    
    
        <br>
        <div class="center1">
            <a routerLink="/manage">
                <button  [disabled]="modifyForm.form.invalid" class="btn btn-primary" style="margin-right: 35px;">Update</button>
            </a>
    
            <a routerLink="/manage">
                <button class="btn btn-primary" style="margin-right: 35px;">Back  </button>
            </a>
        </div>
    </div>
</form>

