<div class="logout">
    <button type="button" class="btn btn-danger" (click)="signOut()">Sign Out</button>
</div>

<h1>
    View Payment History
</h1>
<br>
<br>

<form #viewHistoryForm="ngForm">
    <div>
        <table cellpadding="18px" class="center">
            <tr>
                <td><label for=""><b>Catogorey</b></label></td>
                <td>
                    <select class="form-select" #cat="ngModel" required name="cat" required
                        [(ngModel)]="viewPayment.billerCategorey" [class.is-invalid]="cat.invalid && cat.touched">
                        <option value="" selected>select the categorey</option>
                        <option *ngFor="let cat of categorey">{{cat}}</option>
                    </select>
                    <div *ngIf="cat.errors && (cat.valid || cat.touched)">
                        <small class="text-danger" *ngIf="cat.errors.required">Please select the categorey</small>
                    </div>
                </td>
            </tr>

            <tr>
                <td><label for=""><b>Status</b></label></td>
                <td>
                    <select class="form-select" class="form-select" #blr="ngModel" required name="blr"
                        [class.is-invalid]="blr.invalid && blr.touched" [(ngModel)]="viewPayment.status">
                        <option value="" selected>select the biller status</option>
                        <option *ngFor="let bill of statusArr">{{bill}}</option>
                    </select>
                    <div *ngIf="blr.errors && (blr.valid || blr.touched)">
                        <small class="text-danger" *ngIf="blr.errors.required">Please select the Biller</small>
                    </div>
                </td>
            </tr>


            <tr>
                <td><label for="e"><b>From</b></label></td>
                <td>

                    <input type="date" class="form-control" #date="ngModel" required name="date"
                        [class.is-invalid]="date.invalid && date.touched" [(ngModel)]="viewPayment.from">
                    <small class="text-danger" [class.d-none]="date.valid || date.untouched">
                        Please enter the From date
                    </small>
                </td>
                <td><label for="e"><b>To</b></label></td>
                <td>
                    <input type="date" class="form-control" #to="ngModel" required name="to"
                        [class.is-invalid]="to.invalid && to.touched" [(ngModel)]="viewPayment.to">
                    <div *ngIf="date.value > to.value; else elseblock">
                        <small class="text-danger">
                            to date cannot be smaller than from date
                        </small>
                    </div>
                    <ng-template #elseblock>
                        <small class="text-danger" [class.d-none]="to.valid || to.untouched">
                            Please enter the To date
                        </small>
                    </ng-template>
                </td>
            </tr>
        </table>

        <br>
        <div class="center1">
            <a routerLink="/history">
                <!-- <button class="btn btn-primary" style="margin-right: 35px;">Search</button> -->
            </a>

            <a routerLink="/activation">
                <button class="btn btn-danger" style="margin-right: 35px;">Back To Menu</button>
            </a>
        </div>

        <br>
        <br>

        <table cellpadding="15px" id="center2">

            <tr>
                <th>S.no</th>
                <th>Date</th>
                <th>Account Number</th>
                <th>Biller Name</th>
                <th>Amount</th>
                <th>Categorey</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

            <tbody *ngFor="let s of table;index as i">
                <tr *ngIf="viewPayment.status == '' && viewPayment.billerCategorey == '' && viewPayment.from == '' && viewPayment.to == '' ">
                    <td>{{i+1}}</td>
                    <td>{{s.paymentDate  | date:"dd/MM/yyyy"}}</td>
                    <td>{{s.acccountNumber}}</td>
                    <td>{{s.billerName}}</td>
                    <td>{{s.billAmount}}</td>
                    <td>{{s.billerCategorey}}</td>
                    <td>{{s.status}}</td>
                    <td>
                        <button class="btn btn-primary" style="margin-right: 35px;" (click)="onModify(s.bill_number)">Update</button>
                    </td>
                </tr>   

                <tr *ngIf="viewPayment.billerCategorey == s.billerCategorey && viewPayment.status == '' && viewPayment.from <= s.paymentDate && viewPayment.to >= s.paymentDate">
                    <td>{{i+1}}</td>
                    <td>{{s.paymentDate  | date:"dd/MM/yyyy"}}</td>
                    <td>{{s.acccountNumber}}</td>
                    <td>{{s.billerName}}</td>
                    <td>{{s.billAmount}}</td>
                    <td>{{s.billerCategorey}}</td>
                    <td>{{s.status}}</td>
                    <td>
                        <button class="btn btn-primary" style="margin-right: 35px;" (click)="onModify(s.bill_number)">Update</button>
                    </td>
                </tr>

                <tr *ngIf="viewPayment.billerCategorey == s.billerCategorey && viewPayment.status == '' && viewPayment.from == '' && viewPayment.to == '' ">
                    <td>{{i+1}}</td>
                    <td>{{s.paymentDate  | date:"dd/MM/yyyy"}}</td>
                    <td>{{s.acccountNumber}}</td>
                    <td>{{s.billerName}}</td>
                    <td>{{s.billAmount}}</td>
                    <td>{{s.billerCategorey}}</td>
                    <td>{{s.status}}</td>
                    <td>
                        <button class="btn btn-primary" style="margin-right: 35px;" (click)="onModify(s.bill_number)">Update</button>
                    </td>
                </tr>

                <tr *ngIf="viewPayment.billerCategorey == ''  && viewPayment.status == s.status && viewPayment.from == '' && viewPayment.to == '' ">
                    <td>{{i+1}}</td>
                    <td>{{s.paymentDate  | date:"dd/MM/yyyy"}}</td>
                    <td>{{s.acccountNumber}}</td>
                    <td>{{s.billerName}}</td>
                    <td>{{s.billAmount}}</td>
                    <td>{{s.billerCategorey}}</td>
                    <td>{{s.status}}</td>
                    <td>
                        <button class="btn btn-primary" style="margin-right: 35px;" (click)="onModify(s.bill_number)">Update</button>
                    </td>
                </tr>

                <tr *ngIf="viewPayment.billerCategorey == ''  && viewPayment.status == s.status && viewPayment.from <= s.paymentDate && viewPayment.to >= s.paymentDate">
                    <td>{{i+1}}</td>
                    <td>{{s.paymentDate  | date:"dd/MM/yyyy"}}</td>
                    <td>{{s.acccountNumber}}</td>
                    <td>{{s.billerName}}</td>
                    <td>{{s.billAmount}}</td>
                    <td>{{s.billerCategorey}}</td>
                    <td>{{s.status}}</td>
                    <td>
                        <button class="btn btn-primary" style="margin-right: 35px;" (click)="onModify(s.bill_number)">Update</button>
                    </td>
                </tr>

                <tr *ngIf="viewPayment.billerCategorey == s.billerCategorey && viewPayment.status == s.status && viewPayment.from <= s.paymentDate && viewPayment.to >= s.paymentDate">
                    <td>{{i+1}}</td>
                    <td>{{s.paymentDate  | date:"dd/MM/yyyy"}}</td>
                    <td>{{s.acccountNumber}}</td>
                    <td>{{s.billerName}}</td>
                    <td>{{s.billAmount}}</td>
                    <td>{{s.billerCategorey}}</td>
                    <td>{{s.status}}</td>
                    <td>
                        <button class="btn btn-primary" style="margin-right: 35px;" (click)="onModify(s.bill_number)">Update</button>
                    </td>
                </tr>



                <tr *ngIf="viewPayment.from <= s.paymentDate && viewPayment.to >= s.paymentDate && viewPayment.billerCategorey == s.billerCategorey && viewPayment.status == s.status">
                    <td>{{i+1}}</td>
                    <td>{{s.paymentDate  | date:"dd/MM/yyyy"}}</td>
                    <td>{{s.acccountNumber}}</td>
                    <td>{{s.billerName}}</td>
                    <td>{{s.billAmount}}</td>
                    <td>{{s.billerCategorey}}</td>
                    <td>{{s.status}}</td>
                    <td>
                        <button class="btn btn-primary" style="margin-right: 35px;" (click)="onModify(s.bill_number)">Update</button>
                    </td>
                </tr>

                <tr *ngIf="viewPayment.from <= s.paymentDate && viewPayment.to >= s.paymentDate &&  viewPayment.billerCategorey == '' && viewPayment.status == '' ">
                    <td>{{i+1}}</td>
                    <td>{{s.paymentDate  | date:"dd/MM/yyyy"}}</td>
                    <td>{{s.acccountNumber}}</td>
                    <td>{{s.billerName}}</td>
                    <td>{{s.billAmount}}</td>
                    <td>{{s.billerCategorey}}</td>
                    <td>{{s.status}}</td>
                    <td>
                        <button class="btn btn-primary" style="margin-right: 35px;" (click)="onModify(s.bill_number)">Update</button>
                    </td>
                </tr>

                
            </tbody>
            

        </table>
        <br>
            <br><br><br><br><br>
    </div>
</form>

