<br>
<br>
<div class="container-fuild">

    <h1>User Login</h1>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">

        <!-- {{login | json}} -->

        <table cellpadding="18px" class="center">
            <tr>
                <td><label for=""><b>User Name:</b></label></td>
                <td>
                    <input type="text" #userName="ngModel" required class="form-control"
                        [class.is-invalid]="userName.invalid && userName.touched" name="userName"
                        [(ngModel)]="login.userName">
                    <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">
                        Please enter the correct User Name
                    </small>
                </td>
            </tr>
            <tr>
                <td><label for=""><b>Password:</b></label></td>
                <td>
                    <input type="password" #password="ngModel" required class="form-control"
                        [class.is-invalid]="password.invalid && password.touched" name="password"
                        [(ngModel)]="login.password">
                    <small class="text-danger" [class.d-none]="password.valid || password.untouched">
                        Please enter the correct Password
                    </small>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <!-- <a routerLink="/register"> -->
                        <button [disabled]="loginForm.form.invalid" class="btn btn-success"> Login</button>
                    <!-- </a> -->
                </td>
            </tr>
        </table>
    </form>
</div>