<div class="activation">
    <h2>
        Bill Payment System Activated Successfully
        Now You can Access This Facility
    </h2>
</div>
<router-outlet></router-outlet>
<br>
<br>

<div class="d-flex justify-content-center">
    <b style="text-align: center; font-size: 28px;">
        Bill Payment Menu
    </b>
    
</div>
<br>
<br>
<div class="d-flex justify-content-center">



    <table cellpadding="26px" style="box-shadow:0px 0px 20px #000;">

        <tr>
            <td>
                <a routerLink="/register">
                    <button class="btn btn-success"> Manage Billers </button>
                </a>
            </td>
            <td>
                <a routerLink="/activation"><button class="btn btn-success"> Make Payment </button></a>
            </td>
            <td>
                <a routerLink="/register"><button class="btn btn-success"> View Payment History </button></a>
            </td>
            <td>
                <a routerLink="/register"><button class="btn btn-success"> Logoff </button></a>
            </td>
        </tr>

        <!-- </div> -->

    </table>

</div>