<div class="logout">
    <a routerLink="/login">
        <button type="button" class="btn btn-danger">Log Out</button>
    </a>
</div>

<h1>
    List of Billers
</h1>
<br>
<br>
<form #registrationForm="ngForm">
    <div>
        <table cellpadding="20px" class="center">
    
        <tr>
            <th>Select</th>
            <th>Biller Name</th>
            <th>Address</th>
            <th>Categorey</th>
            <th>Status</th>
        </tr>
    
        <tr *ngFor="let item of biller">
            <td>
                <input type="radio" value={{item.id}} name="first" checked
                #first="ngModel" required class="form-check-input" (click)="selected(item.id)"
                 [(ngModel)]="billerManage.id">
            </td>
            <td>{{item.name}}</td>
            <td>{{item.address}}</td>
            <td>{{item.categorey}}</td>
            <td>{{item.status}}</td>
        </tr>
    
    </table>
    </div>
</form>

<br><br>
<div class="center1">
    <a routerLink="/add">
        <button class="btn btn-primary" style="margin-right: 35px;">Add</button>
    </a>
    
    
    <div *ngIf="isselected == false; else elseBlock">
            <button [disabled]="registrationForm.form.invalid" class="btn btn-primary"  style="margin-right: 35px;">Update</button>
    </div>
    <ng-template #elseBlock>
        <a routerLink="/modify">
            <button  class="btn btn-primary"  style="margin-right: 35px;">Update</button>
        </a>
    </ng-template>
    
    
    <a routerLink="/activation">
        <button class="btn btn-primary"  style="margin-right: 35px;">Back</button>
    </a>
</div>

