<div class="logout">
    <a routerLink="/login">
        <button type="button" class="btn btn-danger">Log Out</button>
    </a>
</div>

<h1>
    List of Billers
</h1>
<br>
<br>

<div>
    <table cellpadding="20px" class="center">

    <tr>
        <th>Select</th>
        <th>Biller Name</th>
        <th>Address</th>
        <th>Categorey</th>
    </tr>

    <tr>
        <td>
            <input type="radio">
        </td>
        <td>
            Venkat
        </td>
        <td>
            7th Avenue
        </td>
        <td>
            Electricity
        </td>
    </tr>
    <tr>
        <td>
            <input type="radio">
        </td>
        <td>
            Srijith
        </td>
        <td>
            56th Avenue
        </td>
        <td>
            Milk
        </td>
    </tr>
    <tr>
        <td>
            <input type="radio">
        </td>
        <td>
            Sebin
        </td>
        <td>
            20th Avenue
        </td>
        <td>
            Water
        </td>
    </tr>
    <tr>
        <td>
            <input type="radio">
        </td>
        <td>
            Shyam
        </td>
        <td>
            Red Hills
        </td>
        <td>
            School Fees
        </td>
    </tr>

</table>
</div>
<br><br>
<div class="center1">
    <a routerLink="/add">
        <button class="btn btn-primary" style="margin-right: 35px;">Add</button>
    </a>
    
    
    <a routerLink="/modify">
        <button class="btn btn-primary"  style="margin-right: 35px;">Update</button>
    </a>
    
    
    <a routerLink="/activation">
        <button class="btn btn-primary"  style="margin-right: 35px;">Back</button>
    </a>
</div>
