h1{
    padding-top: 50px;
    text-shadow: 2px 2px 12px rgb(110, 120, 110);
    text-align: center;
}
.logout{
    position: absolute;
    top:120px;
    right: 30px;
}

.center, tr ,td, th, table{
    margin-left: auto; 
    margin-right: auto;
    border: 1px solid black;
    text-align: center;
    text-shadow: 2px 2px 12px rgb(110, 120, 110);
    
}

.center1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  }