<div class="logout">
    <button type="button" class="btn btn-danger" (click)="signOut()">Sign Out</button>
</div>

<h1>
    List of Billers
</h1>
<br>
<br>
<form #registrationForm="ngForm">
    <div>
        <table cellpadding="20px" class="center">

            <tr>
                <th>Serial</th>
                <th>Biller Name</th>
                <th>Address</th>
                <th>Categorey</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

            <tr *ngFor="let item of biller; index as i">
                <td>{{i+1}}</td>
                <td>{{item.billerName}}</td>
                <td>{{item.billerAddress}}</td>
                <td>{{item.billerCategorey}}</td>
                <td>{{item.status}}</td>
                <td>
                    <button class="btn btn-primary" (click)="onModify(item.billerId)">Update</button>
                </td>
            </tr>

        </table>
    </div>


    <br><br>
    <div class="center1">
        <a routerLink="/add">
        <button class="btn btn-primary" style="margin-right: 35px;">Add</button>
        </a>



        <a routerLink="/activation">
            <button class="btn btn-primary" style="margin-right: 35px;">Back</button>
        </a>
    </div>

</form>