<div class="logout">
    <a routerLink="/login">
        <button type="button" class="btn btn-danger">Log Out</button>
    </a>
    
</div>

<h1>
     Payment Instruction details
</h1>
<br>
<br>

<table cellpadding="18px" class="center">
    <tr>
        <td><b>Account Number</b></td>
        <td><b>87462936423942</b></td>
    </tr>

    <tr>
        <td><b>Biller</b></td>
        <td><b>Ranjeev</b></td>
    </tr>

    <tr>
        <td><b>Bill Amount</b></td>
        <td><input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter Amount"></td>
    </tr>

    <tr>
        <td><b>Payment Status</b></td>
        <td><b>Processed</b></td>
    </tr>
    
    <tr>
        <td><label for="e"><b>Payment Date</b></label></td>
            <td>
                <input placeholder="Select date" type="date" id="example" class="form-control">
            </td>
    </tr>

</table>
<br>
    <div class="center1">
        <a routerLink="/manage">
            <button class="btn btn-primary" style="margin-right: 35px;">Save</button>
        </a>

        <a routerLink="/manage">
            <button class="btn btn-primary" style="margin-right: 35px;">Delete</button>
        </a>

        <a routerLink="/manage">
            <button class="btn btn-primary" style="margin-right: 35px;">Cancel</button>
        </a>
    </div>

    <br>
    <br>